.signup-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 80vh;
  
    .signup-text {
      h3 {
        font-weight: 600;
      }
    }
  
    .signup-form {
      font-size: 90%;
  
      .signup-btn-container {
        padding-top: 1em;
        .signup-btn {
          width: 100%;
        }
      }
    }
  }
  