<div class="cart-container">
  <div class="cart-header">
    <div>
      <span class="cart-title">My Cart</span>&nbsp;&nbsp;
      <span *ngIf="utilService.productCart.noOfItems"
        >({{ utilService.productCart.noOfItems }} items)</span
      >
    </div>
    <div class="close-icon-div" *ngIf="data?.isBigScreen">
      <mat-icon
        aria-hidden="false"
        aria-label="Close dialog button"
        (click)="closeDialog()"
        >close
      </mat-icon>
    </div>
  </div>

  <div class="cart-content">
    <div
      class="item-list"
      *ngIf="utilService.productCart.noOfItems > 0; else emptyCart"
    >
      <div
        class="cart-item"
        *ngFor="
          let cartItem of utilService.productCart.cartItems;
          let i = index
        "
      >
        <img
          class="item-image"
          [src]="cartItem.product.imageURL"
          [alt]="cartItem.product.name"
        />
        <div class="item-content">
          <h3>{{ cartItem.product.name }}</h3>
          <div class="item-nos">
            <div class="item-calc">
              <div class="cart-item-icons">
                <mat-icon
                  class="cart-minus"
                  aria-hidden="false"
                  aria-label="Increase item"
                  (click)="decreaseCartItem(cartItem.product.id)"
                  >remove
                </mat-icon>
                {{ cartItem.noOfProducts }}
                <mat-icon
                  class="cart-plus"
                  aria-hidden="false"
                  aria-label="Increase item"
                  (click)="increaseCartItem(cartItem.product.id)"
                  >add
                </mat-icon>
                <mat-icon
                  aria-hidden="false"
                  aria-label="Increase item"
                  (click)="increaseCartItem(cartItem.product.id)"
                  >close
                </mat-icon>
              </div>
            </div>
            <div class="price">Rs.{{ cartItem.product.price }}</div>
            <div class="item-price">
              Rs.{{ cartItem.noOfProducts * cartItem.product.price }}
            </div>
          </div>
        </div>
      </div>
      <div class="cart-offer">
        <img src="assets/static/images/lowest-price.png" alt="Lowest price" />
        <p>You won't find it cheaper anywhere</p>
      </div>
    </div>

    <ng-template #emptyCart>
      <div class="cart-empty">
        <h6>No items in your cart</h6>
        <p>Your favourite items are just a click away</p>
      </div>
      <div class="cart-footer"></div>
    </ng-template>
  </div>

  <div class="cart-footer">
    <div *ngIf="utilService.productCart.noOfItems; else emptyCartFooter">
      <p>Promo code can be applied on payment page</p>
      <button class="my-btn checkout-btn">
        Proceed to checkout
        <span
          >Rs.{{ utilService.productCart.cartPrice }} &nbsp;&nbsp;&nbsp;
          <mat-icon aria-hidden="false">chevron_right </mat-icon>
        </span>
      </button>
    </div>
    <ng-template #emptyCartFooter>
      <button (click)="goToPLP()" class="my-btn">Start Shopping</button>
    </ng-template>
  </div>
</div>
