@import "./../../../../resources/css/variables.scss";

nav {
  border-bottom: 1px solid #dfdfdf;
  -webkit-box-shadow: 0 2px 2px #efefef;
  box-shadow: 0 2px 2px #efefef;

  .header-row {
    padding: 10px 0 0 0;
    font-weight: 600;

    & > div {
      padding: 0;
    }

    .logo {
      height: 60px;
      width: auto;
      float: left;
    }

    .nav {
      display: inline-block;
      list-style: none;
    }

    .nav li a {
      cursor: pointer;
      padding: 4px 0;
      color: #727272;
      text-decoration: none;
      font-size: 90%;
      border-bottom: 2px solid transparent;
      -webkit-transition: border-bottom 0.2s;
      transition: border-bottom 0.2s;
    }

    .main-nav li a:hover,
    .main-nav li a:active {
      border-bottom: 2px solid $primary-color;
    }

    .main-nav {
      margin-top: 33px;
    }

    .auth-nav {
      float: right;
      font-size: 80%;
    }

    .main-nav li {
      margin-left: 40px;
    }

    .main-nav li,
    .auth-nav li {
      display: inline-block;
    }

    .auth-nav li {
      margin-left: 10px;
    }

    .cart-nav {
      margin-left: 25%;
      padding: 5px;
      background-color: $grey-bg;

      .cart-icon {
        padding: 6%;
        color: $primary-color;
        font-size: 150%;
      }

      .cart-text {
        margin-left: 2%;
        cursor: pointer;
      }
    }
  }
}
