<nav>
  <div class="row header-row">
    <div class="large-header row">
      <div class="col-sm-2 col-md-2 col-lg-2">
        <img
          src="assets/static/images/logo.png"
          alt="Sabka Bazaar logo"
          class="logo"
          (click)="goToHome()"
        />
      </div>
      <div class="col-sm-7 col-md-7 col-lg-8">
        <ul class="nav main-nav">
          <li><a (click)="navigate('products/home')">Home</a></li>
          <li><a (click)="navigate('products/plp')">Products</a></li>
        </ul>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-2 d-flex flex-column text-end">
        <ul class="nav auth-nav">
          <li><a (click)="navigate('authentication/login')">SignIn</a></li>
          <li><a (click)="navigate('authentication/signup')">Register</a></li>
        </ul>
        <div class="cart-nav text-center h-100" (click)="openCart()">
          <mat-icon aria-hidden="false" aria-label="Cart icon" class="cart-icon"
            >shopping_cart
          </mat-icon>

          <span class="cart-text"
            >{{ utilService.productCart.noOfItems }} items</span
          >
        </div>
      </div>
    </div>

    <div class="small-header">
      <img
        src="assets/static/images/logo.png"
        alt="Sabka Bazaar logo"
        class="logo"
        (click)="goToHome()"
      />
      <div class="cart-nav text-center h-100" (click)="openCart()">
        <mat-icon aria-hidden="false" aria-label="Cart icon" class="cart-icon"
          >shopping_cart
        </mat-icon>

        <span class="cart-text"
          >{{ utilService.productCart.noOfItems }} items</span
        >
      </div>
    </div>
  </div>
</nav>
