<div class="row plp-container">
  <div class="cols-xs-12 col-sm-4 col-md-3 col-lg-3 category-list">
    <ul class="prod-list-menu">
      <li
        *ngFor="let category of productCategories"
        [ngClass]="{ active: selectedCategory === category.id }"
        (click)="selectCategory(category.id)"
      >
        {{ category.name }}
      </li>
    </ul>
    <div class="prod-list-select">
      <select
      (change)="onDropdownChange($event.target)"
      #dropdown
      class="form-select"
        name="prodCategory"
        role="Product Category Dropdown"
        aria-label="Product Category Dropdown"
        id="prod-select"
      >
        <option value="all" selected>All items</option>
        <option
          [value]="category.id"
          *ngFor="let category of productCategories"
        >
          {{ category.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="cols-xs-12 col-sm-8 col-md-9 col-lg-9 product-list">
    <div>
      <div class="row">
        <div
          class="col-xs-12 col-sm-6 col-md-6 col-lg-3"
          *ngFor="let product of filteredProductList"
          style="padding-bottom: 60px"
        >
          <app-product-card [productDetail]="product" (addToCartEmitter)="addToCart($event)"></app-product-card>
        </div>
      </div>
    </div>
  </div>
</div>
