@import "./../../../resources/css/variables.scss";

.product-card {
  padding-right: 5px;
  border-bottom: 1px dashed rgb(190, 190, 190);
  box-shadow: 5px 0 5px -2px #f3f3f3;

  h3 {
    font-size: 110%;
    color: $dark-font-color;
    font-weight: 700;
    height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .prod-content {
    .prod-img-cont {
      .prod-img {
        max-width: 100%;
      }
    }

    .prod-desc-cont {
      background-color: rgba($grey-bg, 0.7);
      overflow: hidden;
      padding: 5px;

      .prod-desc {
        color: $dark-font-color;
        font-weight: 500;
        margin: 0;
      }
    }
  }

  .prod-price {
    margin-top: 5px;
    padding: 7px 0;
    .buy-btn-lg {
      margin: 0;
      div:first-child {
        padding: 0;
        text-align: start;
        line-height: 2;
      }

      div:last-child {
        padding: 0;
        text-align: end;
      }
    }
  }
}

/*---------------------------------------------------------------------------*/
/* MEDIA QUERIES */
/*---------------------------------------------------------------------------*/

/*----BIG TABLETS TO 1200px(Widths smaller than the 1140px row)----*/

@media only screen and (min-width: 993px) {
  .product-card {
    .prod-content {
      .prod-img-cont {
        .prod-img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
      .prod-desc-cont {
        height: 74px;
        .prod-desc {
          font-size: 74%;
          line-height: 1.5;
        }

        .buy-btn-sm {
          display: none;
        }
      }
    }
    .prod-price {
      .buy-btn-md {
        display: none;
      }
      .buy-btn-lg {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

@media only screen and (max-width: 992px) and (min-width: 576px) {
  .product-card {
    .prod-desc-cont {
      .buy-btn-sm {
        display: none;
      }
    }
    .prod-price {
      .buy-btn-md {
        display: block;

        .my-btn {
          width: 100%;
          padding: 7px 0;
        }
      }
      .buy-btn-lg {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 575px) and (min-width: 0px) {
  h3 {
    height: 20px !important;
  }

  .prod-content {
    display: flex;
    margin: 10px 0;

    .prod-img-cont {
      flex: 1 1 0;

      .prod-img {
        width: 135px;
      }
    }

    .prod-desc-cont {
      flex: 1 1 0;
      height: 138px;
      background-color: #fff !important;
      display: flex;
      flex-direction: column;
      padding: 0;

      .prod-desc {
        font-size: 90%;
        line-height: 1.3;
        background-color: rgba($grey-bg, 0.7);
        height: 90px;
        padding: 5px;
        overflow: hidden;
      }

      .buy-btn-sm {
        margin-top: auto;
        display: block;
        font-size: 90%;
      }
    }
  }

  .prod-price {
    display: none;
  }
}

@media only screen and (max-width: 992px) and (min-width: 576px) {
  .prod-content {
    display: flex;
    .prod-img-cont {
      flex: 1 1 0;

      .pro-img {
        max-width: 100%;
        margin-bottom: 0;
      }
    }
    .prod-desc-cont {
      flex: 1 1 0;
      height: 138px;

      .prod-desc {
        font-size: 72%;
        line-height: 1.8;
      }
    }
  }
}
