/* You can add global styles to this file, and also import other style files */

// @import "./resources/css/queries.scss";
// @import "./resources/vendors/css/grid.scss";
// @import "./resources/vendors/css/normalize.scss";
// @import "node_modules/ionicons/dist/ionicons/ionicons.esm.js";
@import "./resources/css/variables.scss";

/* ------------------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------------------ */
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: $base-font-color;
  font-family: "Dosis", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  min-height: 100vh;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

*:focus {
  outline: none;
}

/* ------------------------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------------------------ */

.owl-next,
.owl-prev {
  position: absolute;
  top: 175px;
}

.owl-next {
  background-color: green;
  right: 0px;
}
.owl-prev {
  background-color: red;
  left: 0px;
}

.gradient-box-shadow:after {
  position: absolute;
  z-index: -1;
  content: "";
  width: inherit;
  height: 10px;
  background: rgba(0, 0, 0, 0.45);
  transform: rotate(1.5deg) translateX(10px) translateY(15px) skewX(4deg)
    skewY(-4deg);
}

.small-icons {
  padding: 5px;
}

.border-shadow {
  box-shadow: 0 2px 2px #efefef;
}

.my-btn {
  padding: 0.2em 0.75em;
  color: #fff;
  background-color: $primary-color;
  border: 0;
}

.success-snackbar {
  background-color: $success-bg;
  color: $base-font-color;
}

.warning-snackbar {
  background-color: $warning-bg;
  color: $base-font-color;
}

.error-snackbar {
  background-color: $error-bg;
  color: $base-font-color;
}

.mat-dialog-container {
  padding: 0 !important;
  border-radius: 0 !important;
  position: absolute;
  right: 0 !important;
  width: 30% !important;
  height: 88% !important;
  top: 12% !important;
  min-width: 350px !important;
  right: 40px !important;
}

.mat-form-field {
  font-family: inherit;
  font-size: inherit;
  width: 100%;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #fff;
  padding: 0 !important;
}

.mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
  padding: 0 !important;
  margin-top: 0.25em !important;
}

.item-calc {
  mat-icon {
    height: 20px;
    width: 20px;
    font-size: 115%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


/*---------------------------------------------------------------------------*/
/* MEDIA QUERIES */
/*---------------------------------------------------------------------------*/

/*----993px to BIGGER DEVICES----*/

@media only screen and (min-width: 993px) {
  body {
    padding: 0 40px;
    font-size: 16px;
  }
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }
}

/*----SMALL PHONES TO SMALL TABLETS: FROM 769px TO 992px----*/

@media only screen and (max-width: 992px) and (min-width: 769px) {
  body {
    padding: 0;
    font-size: 18px;
  }
}

/*----SMALL PHONES TO SMALL TABLETS: FROM 568px TO 768pxpx----*/

@media only screen and (max-width: 768px) and (min-width: 568px) {
  body {
    padding: 0;
    font-size: 16px;
  }
}

/*----SMALL PHONES: FROM 0px TO 567px----*/

@media only screen and (max-width: 567px) and (min-width: 0px) {
  body {
    padding: 0;
    font-size: 14px;
  }
}


// LOGIN and SIGNUP

@media only screen and (min-width: 1081px) {
  .signup-container,
  .login-container {
    margin: 10px 150px;
  }
}

@media only screen and (max-width: 1080px) and (min-width: 769px) {
  .signup-container,
  .login-container {
    margin: 10px 70px;
    padding-bottom: 20px;
  }
}

/*----SMALL PHONES TO SMALL TABLETS: FROM 769px TO 992px----*/

@media only screen and (max-width: 768px) and (min-width: 0px) {
  .signup-container,
  .login-container {
    margin: 10px 50px;
    padding-bottom: 40px;
  }
}
