<div class="login-container row">
  <div class="col-sm-12 col-md-6 col-lg-6 login-text">
    <h3 class="login-heading">Login</h3>
    <p class="login-para">
      Get access to your Orders, Wishlist and Recommendations
    </p>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6 login-form">
    <div
      id="form-error"
      class="alert alert-danger"
      role="alert"
      *ngIf="responseError"
    >
      {{ responseError }}
    </div>
    <div
      class="alert alert-warning interent-connection"
      role="alert"
      *ngIf="!onlineOffline"
    >
      <span>You are offline!</span><br />
      Credentials will not be validated from server. Enter any credentials in
      valid format to login.
    </div>
    <form [formGroup]="loginForm">
      <div class="email-container">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="email@example.com"
            formControlName="email"
          />
          <mat-hint>test@test.com</mat-hint>
          <mat-error *ngIf="loginForm.get('email')?.invalid">{{
            getErrorMessage("email")
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="password-container">
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-hint>admin123</mat-hint>
          <mat-error *ngIf="loginForm.get('password')?.invalid">{{
            getErrorMessage("password")
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="login-btn-container">
        <button class="my-btn login-btn" (click)="onLogin()">Login</button>
      </div>
    </form>
  </div>
</div>
