<section
  class="section-carousel gradient-box-shadow border-shadow product-home"
>
  <ngb-carousel
    *ngIf="carouselData.length"
    [interval]="slideInterval"
    [keyboard]="true"
  >
    <ng-template ngbSlide *ngFor="let carousel of carouselData">
      <div class="picsum-img-wrapper">
        <img [src]="carousel.bannerImageUrl" [alt]="carousel.bannerImageAlt" />
      </div>
    </ng-template>
  </ngb-carousel>
</section>

<section class="section-categories">
  <div
    class="row prod-cat border-shadow"
    *ngFor="let category of productCategories; let i = index"
  >
    <div class="col-4 cat-img" [ngStyle]="{ order: i % 2 === 0 ? '1' : '2' }">
      <img
        [src]="category.imageUrl"
        [alt]="category.name"
        [name]="category.name"
        [id]="category.id"
      />
    </div>
    <div
      class="
        col-8
        cat-text
        d-flex
        flex-column
        text-center
        justify-content-center
      "
      [ngStyle]="{ order: i % 2 === 0 ? '2' : '1' }"
    >
      <h3 class="cat-name">{{ category.name }}</h3>
      <p class="cat-desc">{{ category.description }}</p>
      <div class="cat-btn">
        <button class="my-btn" (click)="exploreCategory(category.id)">
          Explore {{ category.key }}
        </button>
      </div>
    </div>
  </div>
</section>
